<footer>
    <p>Todos os direitos resevados para <a target="_blank" href="https://www.linkedin.com/in/leandro-espindula-79307517a/">Leandro Espindula</a>  &copy;</p>
    <p>Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokédex</a></p>
</footer>